<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Say Hello!{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
    {{ bootstrap.load_css() }} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main class="container">
        <header>
            <h1 class="text-center display-4">
                <a href="{{ url_for('index') }}" class="text-success"><strong>Say Hello</strong></a>
                <small class="text-muted sub-title">to the world</small>
            </h1>
        </header>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
        <footer class="text-center">
            {% block footer %}
                <small>
                    &copy; 2018
                    <a href="http://greyli.com" title="Written by Grey Li">Grey Li</a> /
                    <a href="https://github.com/greyli/sayhello" title="Fork me on Github">Github</a> /
                    <a href="http://helloflask.com" title="A HelloFlask project">HelloFlask</a>
                </small>
                <p><a id="bottom" href="#" title="Go Top">&uarr;</a></p>
            {% endblock %}
        </footer>
    </main>

    <!-- <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- 加载Moment.js -->
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    <!-- Flask-Moment默认以英文显示时间，我们可以传入区域字符串到locale()方法来更改显示语言，下面将语言设为简体中文 -->
    <!-- {{ moment.locale('zh-cn') }} -->
    <!-- 除了使用locale参数固定地区，更合理的方式是根据用户浏览器或计算机的语言来设置语言，我们可以在locale()方法中将auto_detect参数设为True，这会自动探测客户端语言设置并选择合适的区域设置 -->
    {{ moment.locale(auto_detect=True) }}
</body>
</html>